<app-modal />

<div class="container">
    <div class="game-registry-form-wrapper">
        <span class="register-game-title">Register your game!</span>
        <span class="register-game-description">Tell us more about your game! <br><br> After a quick review, our team
            will analyze your request and, if everything is right, you'll be notified with more instructions of how to
            integrate MetaLab in your game!</span>

        <app-game-registry-form>
        </app-game-registry-form>
    </div>
</div>